// src/styles/settings.scss

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Font family
$font-family-pokemon: 'Press Start 2P', cursive, Helvetica, Arial, sans-serif;

// Apply the font-family globally
body {
  font-family: $font-family-pokemon;
}

// Or apply to specific elements
.pokemon-font {
  font-family: $font-family-pokemon;
}
