:root {
    --color-normal: #dcdcdc;
    --color-type-normal: #a0a29f;
    --color-fire: #ffb971;
    --color-type-fire: #dc872f;
    --color-water: #8cc4e2;
    --color-type-water: #539ddf;
    --color-electric: #ffe662;
    --color-type-electric: #d9b803;
    --color-grass: #a8ff98;
    --color-type-grass: #5fbd58;
    --color-ice: #8cf5e4;
    --color-type-ice: #75d0c1;
    --color-fighting: #da7589;
    --color-type-fighting: #d3425f;
    --color-poison: #d881ef;
    --color-type-poison: #b763cf;
    --color-ground: #e69a74;
    --color-type-ground: #da7c4d;
    --color-flying: #99ccff;
    --color-type-flying: #80a0dd;
    --color-psychic: #f57ec3;
    --color-type-psychic: #db1d8c;
    --color-bug: #bae05f;
    --color-type-bug: #92bc2c;
    --color-rock: #c9bb8a;
    --color-type-rock: #a38c21;
    --color-ghost: #8291e0;
    --color-type-ghost: #5f6dbc;
    --color-dragon: #88a2e8;
    --color-type-dragon: #0c69c8;
    --color-dark: #8e8c94;
    --color-type-dark:#595761;
    --color-steel: #9fb8b9;
    --color-type-steel: #5695a3;
    --color-fairy: #fdb9e9;
    --color-type-fairy: #ee90e6;
}