:root {
    --color-red-1: #f87171;
    --color-red-2: #dc2626;
    --color-yellow-1: #facc15;
    --color-yellow-2: #ca8a04;
    --color-blue-1: #60a5fa;
    --color-blue-2: #747bff;
    --color-blue-3: #646cff;
    --color-blue-4: #2563eb;
    --color-blue-5: #535bf2;
    --color-blue-6: #213547;
    --color-green-1: #4ade80;
    --color-green-2: #16a34a;
    --color-white-default: #ffffff;
    --color-gray-1: #f9f9f9;
    --color-gray-dark: #242424;
    --color-gray-darker: #1a1a1a;
}